---
layout: default
---

<h1 class="ttu mg-title">Les satellites</h1>

<p class="measure f3">
  Patrouillant dans la zone de paix, les satellites servent aussi bien de support aux habitants qu'au rôle de vigie.
</p>

<section class="flex flex-wrap">
  {% include satellite.html href="/satellites/comete/" title="La comète" image="/satellites/comete.svg" %}
  {% include satellite.html href="/satellites/hallo-velo/" title="Hallo Velo" image="/satellites/hallo-velo.svg" %}
  {% include satellite.html href="/satellites/nuit-blanche/" title="Nuit blanche" image="/satellites/nuit-blanche.svg" %}
  {% include satellite.html href="/satellites/rosalie/" title="Rosalie" image="/satellites/rosalie.svg" %}
  {% include satellite.html href="/satellites/roscosmic/" title="Roscosmic" image="/satellites/roscosmic.svg" %}
  {% include satellite.html href="/satellites/rudelbums/" title="Rudelbums" image="/satellites/rudelbums.svg" %}
  {% include satellite.html href="/satellites/rustine/" title="La Rustine" image="/satellites/rustine.svg" %}
</section>
