---
---

/**
 * CONTENTS
 *
 * SETTINGS
 * Variables...............Globally-available variables and config.
 *
 * TOOLS
 * Mixins...............Useful mixins.
 *
 * GENERIC
 *
 * BASE
 * Headings.............H1–H6 styles.
 *
 * OBJECTS
 * Wrappers.............Wrapping and constraining elements.
 *
 * COMPONENTS
 * Page-head............The main page header.
 * Page-foot............The main page footer.
 * Buttons..............Button elements.
 *
 * TRUMPS
 * Text.................Text helpers.
 */

@import "settings.variables";
@import "base";

.mg-title {
  background-color: red;
  display: inline-block;
  padding: 1rem;
  box-shadow: 5px 5px orange;
}
