<footer class="mt4 mt5-l pa4 pa5-m ph6-l bt b--white">
  <section class="flex flex-column flex-row-l mb5">
    <div class="w-100 tc tl-l">
      <a class="white f3 f2-ns fw6 tl link dim dib pv3 mb4 mb0-l" href="mailto:info@meltingrottes.ch" >
        info@meltingrottes.ch
      </a>
    </div>
    <div class="w-100 tc tr-l">
      <a class="link white hover-red dib h3 w3 mr3" href="https://www.facebook.com/meltingrottes/" title="Facebook">{% include icons/facebook.html %}</a>
      <a class="link hover-red white dib h3 w3 mr3" href="https://www.instagram.com/meltingrottes/" title="Instagram">{% include icons/instagram.html %}</a>
      <a class="link white hover-red dib h3 w3 mr3" href="https://github.com/larucheio/meltingrottes.ch" title="GitHub">{% include icons/github.html %}</a>
    </div>
  </section>
  <section class="flex flex-column flex-row-l">
    <div>
      <h1 class="pv0 f6 fw6 ttu tracked mg-title">Une production</h1>
      <div>
        <a href="https://bassment.ch/" target="_blank" rel="noopener" class="link white hover-red">
          <article class="dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
            <h4 class="fw6 mb3">Bassment!</h4>
            <span class="f5 f4-ns db white-70">Association<br>polyartistique</span>
          </article>
        </a>
        <article class="dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
          <h4 class="fw6 mb3">ACAB</h4>
          <span class="f5 f4-ns db white-70">Association Contre les<br>Arcades Bloquées</span>
        </article>
      </div>
    </div>
    <div class="mt4 mt0-l">
      <h1 class="pv0 f6 fw6 ttu tracked mg-title">Partenaires</h1>
      <div>
        <article class="dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
          <h4 class="fw6 mb3">Rudelbums</h4>
          <span class="f5 f4-ns db white-70">Décoration &<br>occupation</span>
        </article>
        <article class="dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
          <h4 class="fw6 mb3">? Studio</h4>
          <span class="f5 f4-ns db white-70">Design, communication<br>& <i>New Media</i></span>
        </article>
        <a href="https://laruche.io/fr/" target="_blank" rel="noopener" class="link white hover-red">
          <article class="dib-ns w-auto-ns mr4-m mr5-l">
            <h4 class="fw6 mb3">laruche</h4>
            <span class="f5 f4-ns db white-70">Consulting<br>& développement</span>
          </article>
        </a>
      </div>
    </div>
  </section>
</footer>
