<footer class="mt4 mt5-l pa4 pa5-l bt b--white">
  <section class="cf mb5">
    <div class="fl w-100 w-50-l tc tl-l">
      <a class="white f3 f2-ns fw6 tl link dim dib pv3 mt2 mb4 mb0-l mg-title" href="mailto:info@meltingrottes.ch" >
        info@meltingrottes.ch
      </a>
    </div>
    <div class="fl w-100 w-50-l tc tr-l">
      <a class="link white hover-red dib h2 w2 mr3" href="https://facebook.com" title="Facebook">
        {% include icons/facebook.html %}
      </a>
      <a class="link hover-red white dib h2 w2 mr3" href="https://instagram.com/" title="Instagram">
        {% include icons/instagram.html %}
      </a>
      <a class="link white hover-red dib h2 w2 mr3" href="https://github.com/larucheio/meltingrottes.ch" title="GitHub">
        {% include icons/github.html %}
      </a>
    </div>
  </section>
  <div class="cf">
    <div class="dib">
      <h1 class="fl w-100 pv0 f6 fw6 ttu tracked">Une production</h1>
      <a href="https://bassment.ch/" target="_blank" rel="noopener" class="link white hover-red">
        <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
          <h4 class="f5 f4-l fw6 mb3">Bassment!</h4>
          <span class="f7 f6-l db white-70">Organisation & coordination<br>de l'événement</span>
        </article>
      </a>
    </div>
    <div class="dib">
      <h1 class="fl w-100 pv0 f6 fw6 ttu tracked">Partenaires</h1>
      <a href="#" target="_blank" rel="noopener" class="link white hover-red">
        <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l pr2 pr0-ns">
          <h4 class="f5 f4-l fw6 mb3">? Studio</h4>
          <span class="f7 f6-l db white-70">Design, communcation<br>& New Media</span>
        </article>
      </a>
      <a href="https://laruche.io/fr/" target="_blank" rel="noopener" class="link white hover-red">
        <article class="fl w-50 dib-ns w-auto-ns mr4-m mr5-l pl2 pl0-ns">
          <h4 class="f5 f4-l fw6 mb3">laruche</h4>
          <span class="f7 f6-l db white-70">Consulting<br>& développement</span>
        </article>
      </a>
    </div>
  </div>
</footer>
