<div class="flex items-center justify-center flex-column flex-row-l pa4 bg-lightest-blue navy">
  <svg class="w1 mb3 mb0-l" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
    <title>info icon</title>
    <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
  </svg>
  <span class="lh-title ml3">Ce site est en cours de développement et les informations présentes peuvent ne pas être correctes</span>
</div>

<header class="tc pv4">
  <a href="/" class="dib pa3 w4">
    <img src="/images/meltingrottes-symbol.svg" alt="Accueil">
  </a>
  <h1 class="mt2 mb0 f1">{{ site.title }}</h1>
  <h2 class="mt2 mb0 f6 fw4 ttu tracked">1-2-3 septembre 2017 | Grottes</h2>
  <nav class="bt bb tc ttu fw7 center mt4">
    {% assign pageKey = page.url | split: '/' [1] %}
    {% assign pageKey = pageKey[1] %}
    {% for item in site.data.menu.menu %}
      {% assign itemKey = item.url | split: '/'[1] %}
      {% assign itemKey = itemKey[1] %}
      <a href="{{ item.url }}" alt="{{ item.title }}"  class="f6 f5-l link bg-animate white hover-bg-red dib pa3 ph4-l {% if itemKey == pageKey %}link-active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</header>
