<header class="mv3">
  <a href="/" title="Accueil" class="flex flex-column flex-row-l justify-center items-center link white mb3">
    <img src="/images/meltingrottes-symbol.svg" alt="Accueil" class="w3 pr3-l mb3 mb0-l">
    <div class="tc tl-l">
      <h1 class="mt0 mb2">{{ site.title }}</h1>
      <p class="mv0 ttu tracked f5">1-2-3 septembre 2017 | Grottes</p>
    </div>
  </a>

  <nav class="bt bb tc ttu b center">
    {% assign pageKey = page.url | split: '/' %}
    {% assign pageKey = pageKey[1] %}
    {% for item in site.data.menu.menu %}
      {% assign itemKey = item.url | split: '/' %}
      {% assign itemKey = itemKey[1] %}
      <a href="{{ item.url }}" alt="{{ item.title }}"  class="f6 f5-l link bg-animate white hover-bg-red dib pa3 ph4-l {% if itemKey == pageKey %}link-active{% endif %}">{{ item.title }}</a>
    {% endfor %}
  </nav>
</header>
