body {
  font-size: 20px;
  background-color: #0800BF;
  background: linear-gradient(to top, #6C00A4, #3900B2, #0800BF) fixed;
  color: $text-color;
  font-family: "Futura", "Helvetica Neue", sans-serif;
}
