/*------------------------------------*\
 #COLORS
\*------------------------------------*/

$color-white: #ffffff;
$color-sky: #0D005E;


/*------------------------------------*\
 #Typography
\*------------------------------------*/

$text-color: $color-white;
