---
layout: default
---

<h1 class="ttu mg-title">Les vaisseaux</h1>

<p class="measure f3">
  Patrouillant dans la zone de paix, les vaisseaux servent aussi bien de support aux habitants qu'au rôle de vigie.
</p>

<section class="flex flex-wrap">
  {% include vaisseau.html href="/vaisseaux/comete/" title="La comète" image="/vaisseaux/comete.svg" %}
  {% include vaisseau.html href="/vaisseaux/hallo-velo/" title="Hallo Velo" image="/vaisseaux/hallo-velo.svg" %}
  {% include vaisseau.html href="/vaisseaux/nuit-blanche/" title="Nuit blanche" image="/vaisseaux/nuit-blanche.svg" %}
  {% include vaisseau.html href="/vaisseaux/rosalie/" title="Rosalie" image="/vaisseaux/rosalie.svg" %}
  {% include vaisseau.html href="/vaisseaux/rustine/" title="La Rustine" image="/vaisseaux/rustine.svg" %}
</section>
