---
layout: default
title: "Astéroïdes"
---

<h1 class="ttu mg-title">Les asteroïdes</h1>

<section>
  <h2 class="mg-title">Jeudi 31 août 2017</h2>

  <h3>🔥🔥🔥 Soirée d'ouverture 👾👾👾</h3>

  {% assign asteroids = site.data.prog.jeudi.prog | sort:'time.from' %}
  {% for asteroid in asteroids %}
    {% include asteroid.html %}
  {% endfor %}
</section>

<section>
  <h2 class="mg-title">Vendredi 01 septembre 2017</h2>

    {% assign asteroids = site.data.prog.vendredi.prog | sort:'time.from' %}
    {% for asteroid in asteroids %}
      {% include asteroid.html %}
    {% endfor %}
</section>

<section>
  <h2 class="mg-title">Samedi 02 septembre 2017</h2>

    {% assign asteroids = site.data.prog.samedi.prog | sort:'time.from' %}
    {% for asteroid in asteroids %}
      {% include asteroid.html %}
    {% endfor %}
</section>

<section>
  <h2 class="mg-title">Dimanche 03 septembre 2017</h2>

    {% assign asteroids = site.data.prog.dimanche.prog | sort:'time.from' %}
    {% for asteroid in asteroids %}
      {% include asteroid.html %}
    {% endfor %}
</section>
