---
layout: planete
title: "Central Station"
image: 'central-station.svg'
---

<p>
  Central Station est né avec l'envie de réunir et de promouvoir la scène
  émergente. A l'heure où la culture électronique est en pleine effervescence,
  Central Station a pour ambition de devenir un lieu de vie à travers ses
  multiples activités (bar, disquaire, événements).
</p>

<h2 class="mg-title">Programme</h2>

<section>
  <h3 class="mg-title">Jeudi 31 août 2017</h3>

  {% assign asteroids = site.data.prog.jeudi.prog | where:'venue', 'central-station' %}
  {% for asteroid in asteroids %}
    {% include asteroid.html %}
  {% endfor %}
</section>

<section>
  <h3 class="mg-title">Vendredi 01 septembre 2017</h3>

    {% assign asteroids = site.data.prog.vendredi.prog | where:'venue', 'central-station' %}
    {% for asteroid in asteroids %}
      {% include asteroid.html %}
    {% endfor %}
</section>

<section>
  <h3 class="mg-title">Samedi 02 septembre 2017</h3>

    {% assign asteroids = site.data.prog.samedi.prog | where:'venue', 'central-station' %}
    {% for asteroid in asteroids %}
      {% include asteroid.html %}
    {% endfor %}
</section>
